// http://mcg.mbitson.com/#!?mcgpalette0=%23083f57&themename=mcgtheme
$md-tlenex-palette: (
        50 : #e1e8eb,
        100 : #b5c5cd,
        200 : #849fab,
        300 : #527989,
        400 : #2d5c70,
        500 : #083f57,
        600 : #07394f,
        700 : #063146,
        800 : #04293c,
        900 : #021b2c,
        A100 : #65b5ff,
        A200 : #329cff,
        A400 : #0083fe,
        A700 : #0076e5,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #ffffff,
                400 : #ffffff,
                500 : #ffffff,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #ffffff,
                A700 : #ffffff,
        )
);