/* You can add global styles to this file, and also import other style files */
@import "styles/palette";
@import "styles/theme";
@import "styles/overrides";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #060b0f;
  color: white;
  font-family: 'Roboto', sans-serif
}